<div class="m-1 p-2 border bg-white" style="width: 25em">
    <h4 class="mb-2 font-bold border-b border-b-blue-500">@BookTitle</h4>
    <div class="align-middle"><img src="@Assets["author-icon.png"]" width="20" height="20" class="inline" /><span>@AuthorName</span></div>
    <div class="align-middle"><img src="@Assets["library-icon.png"]" width="20" height="20" class="inline" /><span>@LibraryName</span></div>
</div>

@code {

    [Parameter]
    public required string AuthorName { get; set; }
    [Parameter]
    public required string BookTitle { get; set; }
    [Parameter]
    public required string LibraryName { get; set; }

}