@page "/"
@inject IGraphService GraphService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="grid grid-cols-6 gap-4">
    <div class="col-span-1">
        <div class="grid grid-cols-6 gap-4 border-2 p-2 rounded-2xl border-blue-500 bg-gray-200">
            <label class="col-span-1">Title</label>
            <input type="text" @bind="_queryTitle" class="border col-span-5 bg-white"/>
            <label class="col-span-1">Author</label>
            <select @bind="_queryAuthor" class="border col-span-5 bg-white">
                <option></option>
                @if (_authors != null)
                {
                    @foreach (var author in _authors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                }
            </select>
            <label class="col-span-1">Library</label>
            <select @bind="_queryLibrary" class="border col-span-5 bg-white">
                <option></option>
                @if (_libraries != null)
                {
                    @foreach (var library in _libraries)
                    {
                        <option value="@library.Id">@library.Name</option>
                    }
                }
            </select>
            <button
                class="col-span-2 col-start-5 mt-1 mb-1 font-bold py-2 px-4 rounded bg-blue-500 text-white hover:bg-blue-700"
                @onclick="GetBooks"
                data-testid="get-books-button"
                id="get-books-button">
                Get Books
            </button>
        </div>
    </div>
    <div class="col-span-5 border-2 p-2 rounded-2xl border-blue-500 bg-gray-200">
        @if (_books != null)
        {
            <div class="flex">
            @foreach (var book in _books)
            {
                <BookCard AuthorName="@book.AuthorName" BookTitle="@book.Title" LibraryName="@book.LibraryName" />
            }
            </div>
        }
    </div>
    <div class="col-span-1">
        <EditForm Model="AddBookInput" OnValidSubmit="AddBook" FormName="AddBookForm" class="grid grid-cols-6 gap-4 border-2 p-2 rounded-2xl border-blue-500 bg-gray-200">
            <label class="col-span-1">Title</label>
            <InputText @bind-value="AddBookInput!.Title" class="border col-span-5 bg-white" />
            <label class="col-span-1">Author</label>
            <InputSelect @bind-Value="AddBookInput!.AuthorId" class="border col-span-5 bg-white">
                <option value="">Select an Author</option>
                @if (_authors != null)
                {
                    @foreach (var author in _authors)
                    {
                        <option selected="@(AddBookInput!.AuthorId == author.Id)" value="@author.Id">@author.Name</option>
                    }
                }
            </InputSelect>
            <label class="col-span-1">Library</label>
            <InputSelect @bind-value="AddBookInput!.LibraryId" class="border col-span-5 bg-white">
                <option value="">Select a Library</option>
                @if (_libraries != null)
                {
                    @foreach (var library in _libraries)
                    {
                        <option selected="@(AddBookInput!.LibraryId == library.Id)" value="@library.Id">@library.Name</option>
                    }
                }
            </InputSelect>
            <button type="submit" class="col-span-2 col-start-5 mt-1 mb-1 font-bold py-2 px-4 rounded cursor-pointer bg-blue-500 text-white hover:bg-blue-700">
                Add Book
            </button>
        </EditForm>
    </div>
    <div class="col-span-5 border-2 p-2 rounded-2xl border-blue-500 bg-gray-200">
        <ul>
            @if (_book != null)
            {
                <BookCard AuthorName="@_book.AuthorName" BookTitle="@_book.Title" LibraryName="@_book.LibraryName" />
            }
        </ul>
    </div>
</div>

@code {
    List<Book>? _books;
    List<Library>? _libraries;
    List<Author>? _authors;
    Book? _book;

    [SupplyParameterFromForm] private BookInput AddBookInput { get; set; } = new();

    string? _queryTitle;
    string? _queryAuthor;
    string? _queryLibrary;

    protected override async Task OnInitializedAsync()
    {
        _libraries = await GraphService.GetLibraries();
        _authors = await GraphService.GetAuthors();
    }

    async Task GetBooks()
    {
        _books = await GraphService.GetBooks(_queryTitle, _queryAuthor, _queryLibrary);
    }

    async Task AddBook()
    {
        Console.WriteLine("Adding Book: [" + AddBookInput.Title + ", " + AddBookInput.AuthorId + ", " + AddBookInput.LibraryId + "]");
        var id = await GraphService.AddBook(AddBookInput.Title, AddBookInput.AuthorId, AddBookInput.LibraryId);
        await GetBookById(id);
    }

    async Task GetBookById(string id)
    {
        _book = await GraphService.GetBookById(id);
    }
}